<html>

<head>
    <title>Results</title>
    <link href="/assets/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <ul>
        <% data.forEach(function(o) { %>
            <li>
                <%= o.userName %> -->
                    <%= o.password %>
            </li>
            <% }); %>
    </ul>

</body>

</html>